@import '../../../../style/variables.scss';
.wrapper {
  @include breakpoint(tm) {
    display: block;
  }
  display: flex;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .logo {
    text-align: center;
    .img {
      width: 100px;
      height: 20px;
    }
  }

  .menu {
    margin: 50px 24px;
    .title {
      font-size: 2.6rem;
      font-weight: 600;
      color: $white-color;
    }
    .list {
      margin-top: 20px;
      @include flex-direction();
      gap: 10px;

      .active {
        transition: all 0.3s linear;
        background-color: $firebrick-red-color;
      }
    }
  }
}
