@import '../../../style/variables.scss';

.wrapper {
  margin-top: calc($height-header);
  padding-bottom: 20px;
  background-color: $background-color;
  .heading {
    @include breakpoint(xm) {
      font-size: 2.2rem;
    }
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    padding: 20px 0;
    color: $primary-color;
  }
  .inner {
    margin: 0 10px;
    @include breakpoint(xs) {
      margin: 0;
    }
    .account {
      display: flex;
      gap: 10px;
      @include breakpoint(xm) {
        flex-direction: column;
      }

      .profile {
        flex: 7;
        .info {
          @include breakpoint(xm) {
            position: relative;
          }
          display: flex;
          height: 100%;
          @include breakpoint(xm) {
            flex-direction: column;
          }
          gap: 10px;
          .sidebar {
            @include breakpoint(xm) {
              position: absolute;
            }
            height: 100%;
            .menu {
              padding: 10px;
              @include d-flex($center, $s-between);
              .logo {
                width: 100px;
              }
              .icon {
                font-size: 2rem;
                color: $white-color;
                cursor: pointer;
                padding: 4px;
                &:hover {
                  background-color: $white-color;
                  color: #547aff;
                }
              }
            }
          }
          .content {
            background-color: $white-color;

            flex: 1;
            @include breakpoint(xm) {
              margin-left: 65px;
              border-radius: 0;
            }
          }
        }
      }
      .image {
        @include breakpoint(xm) {
          display: none;
        }
        flex: 3;
        @include flex-direction();
        align-items: center;
        .img {
          background-color: $white-color;
          width: 180px;
          height: 180px;
          border-radius: 50%;
          border: 1px solid $black-color;
          margin: 20px 0 5px 0;
        }
        .fullName {
          margin-top: 10px;
          color: $black-color;
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
  }
}
