@import './style/variables.scss';

.App {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: rgba(0, 0, 0, 0);
  // custom slider

  .swiper-button-prev,
  .swiper-button-next {
    @include breakpoint(xs) {
      display: none;
    }
    color: $white-color !important;
    background-color: $firebrick-red-color;

    &::after {
      @include breakpoint(xm) {
        font-size: 1.5rem;
      }
      font-size: 2rem;
      font-weight: 700;
    }
  }
  .swiper-button-prev {
    left: 2px;
  }
  .swiper-button-next {
    right: 2px;
  }

  // style  pagination product
  .pagination {
    list-style: none;
    margin: 30px auto 0;
    max-width: 500px;

    font-size: 2rem;
    @include d-flex($center, $center);
    gap: 6px;
    @include breakpoint(xs) {
      width: 300px;
    }

    .page-item {
      cursor: pointer;
      display: flex;
      .page-link {
        padding: 4px 16px;
      }
      & a {
        color: $light-color;
      }
      &:hover {
        background-color: $primary-color;
        a {
          color: $white-color;
        }
      }
    }

    .active {
      background-color: $primary-color;
      a {
        color: $white-color;
      }
    }
  }

  // custom Banner
  .swiper-pagination-bullet {
    @include breakpoint(xs) {
      padding: 6px;
    }
    padding: 8px;
    border: 2px solid $black-color;
    opacity: 1;
    background-color: $white-color;
  }
  .swiper-pagination-bullet-active {
    background-color: $primary-color;
  }

  // sidebar profile
  .css-1ec8anr {
    height: 100%;
  }

  // sidebar menu
  .css-r2qlta {
    height: 100%;
    border: none;
  }
}

.active_slider {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    border-radius: 50% !important;
  }
}
