@import '../../style/variables.scss';
.wrapper {
  padding: 20px 10px;
  background-color: $background-color;

  .inner {
    margin: auto;
    max-width: 1340px;
    text-align: center;
    .heading {
      @include breakpoint(xm) {
        font-size: 2.2rem;
      }
      margin: 20px 0;
      font-size: 3rem;
    }
    .list__Product {
      text-align: center;
      .category {
        @include breakpoint(sm) {
          gap: 28px;
        }
        @include breakpoint(xs) {
          gap: 15px;
        }
        @include d-flex($center, $center);
        gap: 36px;
        .item {
          @include breakpoint(xs) {
            font-size: 1.4rem;
          }
          @include breakpoint(sm) {
            font-size: 1.6rem;
          }
          font-size: 1.7rem;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            color: $firebrick-red-color;
          }
        }
        .active {
          color: $firebrick-red-color;
        }
      }
      .products {
        margin-top: 20px;
        @include flex-justify($f-start);
        flex-wrap: wrap;
        gap: 8px;
      }

      .animate {
        height: 80px;
        @include d-flex($center, $center);
      }
      .button {
        margin: 24px 0 10px 0;
        @include flex-justify($center);
      }
    }
  }
}
