@import '../../style/variables.scss';
.wrapper {
  @include breakpoint(tm) {
    padding: 30px 10px;
  }
  padding: 30px;
  margin-top: $height-header;
  background-color: $background-color;
  .navigate {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    .title {
      @include breakpoint(xm) {
        font-size: 1.6rem;
      }
      font-size: 1.8rem;
      font-weight: 600;
      font-family: 'Roboto';
      color: $light-color;
      cursor: pointer;
    }
    .active {
      color: $jetBlack-color;
    }
  }
}
