@import '../../../style/variables.scss';

.wrapper__1 {
  margin: 30px 0;

  .heading {
    @include breakpoint(xm) {
      font-size: 2.1rem;
    }
    font-size: 3.4rem;
    color: $jetBlack-color;
  }

  .container {
    @include breakpoint(tm) {
      @include flex-direction();
    }
    margin-top: 20px;
    @include d-flex($f-start, $center);
    gap: 20px;
    .sidebar {
      @include breakpoint(tm) {
        width: 100%;
        overflow: auto;
        @include d-flex($center, $f-start);
        &::-webkit-scrollbar {
          height: 0;
        }
      }
      background-color: $white-color;
      .box {
        @include breakpoint(xm) {
          border-radius: 0;
          padding: 0 6px;
        }
        margin: 6px;
        padding: 6px;
        border-radius: 8px;
        cursor: pointer;
        color: $lightBlue-color;
        @include d-flex($center, $s-between);
        gap: 6px;
        .title,
        .icon {
          @include breakpoint(xm) {
            font-size: 1.3rem;
            font-weight: 600;
          }
          font-size: 1.6rem;
          font-weight: 400;
        }
        .title {
          width: max-content;
        }
        .icon {
          @include breakpoint(xs) {
            display: none;
          }
        }
        &:active {
          filter: brightness(0.9);
        }
      }
      .box--active {
        @include breakpoint(xm) {
          color: $firebrick-red-color;
          background-color: transparent;
          border-left: 2px solid $firebrick-red-color;
        }
        background-color: rgb(235, 241, 255);
      }
    }

    .content {
      flex: 1;
      .list {
        .product {
          @include breakpoint(xm) {
            padding: 10px;
            margin: 0 -10px 20px -10px;
          }
          padding: 20px;
          margin-bottom: 20px;
          background-color: $white-color;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          .product__flex {
            @include breakpoint(xs) {
              @include flex-direction();
              gap: 10px;
            }
            @include d-flex($f-start, $s-between);
            gap: 20px;

            .flex__quantity,
            .box {
              flex: 1;
              @include flex-direction();
              gap: 10px;
              .flex__info {
                @include d-flex($f-start, $f-start);
                gap: 10px;
                .img {
                  width: 80px;
                  height: 80px;
                  border: 1px solid #e1e1e1;
                }
                .data {
                  @include flex-direction();
                  gap: 5px;
                  .name {
                    @include format-text-line(2);
                  }
                  .name,
                  .quantity {
                    @include breakpoint(xm) {
                      font-size: 1.3rem;
                    }
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: $black-color;
                  }

                  .type {
                    @include breakpoint(xm) {
                      font-size: 1.2rem;
                    }
                    font-size: 1.4rem;
                    color: $light-color;
                  }
                }
              }
            }

            .flex__status {
              @include breakpoint(xs) {
                align-items: flex-start;
              }
              @include flex-direction();
              align-items: flex-end;
              gap: 5px;
              .status__delivery,
              .status__price {
                font-size: 1.6rem;
                @include breakpoint(xm) {
                  font-size: 1.3rem;
                }
              }

              .status__delivery {
                font-weight: 700;
                text-transform: uppercase;
                color: $firebrick-red-color;
              }
              .status__price {
                color: $primary-color;
              }
              .status__contact {
                @include breakpoint(xm) {
                  font-size: 1rem;
                }
                padding: 3px 6px;
                font-size: 1.4rem;
                border-radius: 4px;
                cursor: pointer;
                color: $white-color;
                background-color: $primary-color;
              }
              .icon {
                margin-right: 6px;
              }
            }
            .box {
              .address {
                @include breakpoint(sm) {
                  font-size: 1.4rem;
                }
                @include breakpoint(xs) {
                  font-size: 1.3rem;
                }
                color: $firebrick-red-color;
              }
            }
          }

          .product__flex--line {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid $lightBlue-color;
          }

          .expected {
            margin-top: 20px;
            .time {
              @include breakpoint(xm) {
                font-size: 1.3rem;
              }
              font-size: 1.5rem;
              font-weight: 400;
              color: $jetBlack-color;
            }
          }
        }
      }
    }
  }
}

.wrapper__2 {
  margin: 30px 0;
  .heading {
    @include breakpoint(xm) {
      font-size: 2.1rem;
    }
    font-size: 3.4rem;
    color: $jetBlack-color;
  }
  .container {
    @include breakpoint(tm) {
      display: block;
    }
    margin-top: 20px;
    @include d-flex($f-start, $center);
    gap: 50px;
    .list {
      flex: 6;
      overflow: hidden;
      .product {
        position: relative;
        margin-bottom: 20px;
        @include flex-alight($f-end);
        gap: 10px;
        .img {
          @include breakpoint(xm) {
            width: 100px;
            height: 100px;
          }
          width: 150px;
          height: 150px;
          border-radius: 4px;
        }
        .check {
          position: absolute;
          top: 10px;
          left: 8px;
          z-index: 1;
          cursor: pointer;
        }
        .info {
          overflow: hidden;
          .name {
            @include breakpoint(xm) {
              font-size: 1.6rem;
            }
            font-size: 1.8rem;
            font-weight: 600;
            color: $jetBlack-color;
            @include format-text-line(1);
          }
          .flex {
            @include d-flex($f-start, $s-between);
            .title {
              @include breakpoint(xm) {
                margin: 4px;
                font-size: 1.6rem;
              }
              margin: 6px;
              @include flex-justify($s-between);
              flex-direction: column;
              .text {
                @include breakpoint(xm) {
                  font-size: 1.4rem;
                }
                font-size: 1.6rem;
                margin-bottom: 5px;
                color: $jetBlack-color;
              }
            }
          }

          .total {
            @include d-flex($f-end, $s-between);
            .price {
              @include breakpoint(tm) {
                font-size: 1.6rem;
              }
              position: relative;
              font-size: 3rem;
              margin-right: 20px;
              color: $primary-color;
              &::after {
                @include breakpoint(tm) {
                  font-size: 1.4rem;
                }
                position: absolute;
                content: 'đ';
                font-size: 1.8rem;
                top: auto;
                right: auto;
                color: inherit;
              }
            }
            .mobile__icon-remote {
              @include breakpoint(xm) {
                display: block;
              }
              display: none;
              font-size: 2.8rem;
              cursor: pointer;
              color: $firebrick-red-color;
              &:active {
                filter: brightness(0.8);
              }
            }
            .button {
              @include breakpoint(xm) {
                display: none;
              }
              display: flex;
              gap: 10px;
            }
          }
        }
      }
      .loading {
        margin-top: 50px;
      }
    }

    .check-out {
      flex: 4;
      padding: 10px;
      background-color: $white-color;

      .cart-total {
        .name {
          display: block;
          font-size: 2rem;
          font-weight: 600;
          color: $firebrick-red-color;
        }

        .pay {
          margin: 20px 6px;
          color: $jetBlack-color;
          @include d-flex($center, $s-between);
          .title,
          .value {
            font-size: 1.7rem;
            font-weight: 600;
          }
          .value {
            position: relative;
            &::after {
              position: absolute;
              content: 'đ';
              top: 0;
              font-size: 1.2rem;
              right: auto;
              color: $primary-color;
            }
          }
        }
      }
      .button {
        @include flex-justify($f-end);
      }
    }
  }
}
