@import '../../../style/variables.scss';
@mixin detail {
  margin: 20px 0;
  .title {
    @include breakpoint(xs) {
      font-size: 1.6rem;
    }
    display: block;
    margin-bottom: 4px;
    font-size: 1.8rem;
    font-weight: 600;
    color: $firebrick-red-color;
  }
  .input {
    @include breakpoint(xs) {
      font-size: 1.4rem;
    }
    width: 100%;
    padding: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2px;
    outline: none;
    color: $jetBlack-color;
    border: 1.5px solid $darkBue-color;
  }
  .flex {
    @include d-flex($center, $s-between);
    gap: 10px;
    select,
    option {
      @include breakpoint(xs) {
        font-size: 1.4rem;
        padding: 5px 2px;
      }
      margin: 0;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 0;
      padding: 5px 55px 5px 5px;
      border: none;
      outline: none;
      cursor: pointer;
      color: $jetBlack-color;
      background-color: $white-color;
      border: 1.5px solid $darkBue-color;
      /*for firefox*/
      -moz-appearance: none;
      /*for chrome*/
      -webkit-appearance: none;
      appearance: none;
    }
  }

  .input--width {
    width: 50%;
  }
}

// DetailInfo
.inner__1 {
  .gender {
    @include flex-direction();
    .title {
      @include breakpoint(xs) {
        font-size: 1.6rem;
      }
      font-size: 1.8rem;
      font-weight: 600;
      color: $firebrick-red-color;
    }
    form {
      @include flex-justify($s-around);
      .check {
        margin: 10px 0 5px 0;
        @include d-flex($center, $center);
        input[type='radio'] {
          @include breakpoint(xs) {
            transform: scale(1);
          }
          position: relative;
          cursor: pointer;
          transform: scale(1.3);
        }
        label {
          @include breakpoint(xs) {
            font-size: 1.6rem;
          }
          margin-left: 8px;
          font-size: 1.8rem;
          font-weight: 600;
          cursor: pointer;
          color: $jetBlack-color;
        }
        input[type='radio']:checked ~ label {
          color: $firebrick-red-color;
        }
      }
    }
  }

  .detail {
    @include detail();
  }

  span {
    @include flex-justify($f-end);
  }
}

// ChangePassword
.inner__2 {
  .detail {
    @include detail();
  }

  .note {
    @include breakpoint(xm) {
      font-size: 1.4rem;
    }
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .button {
    @include flex-justify($f-end);
  }
}
