@import '../../../../style/variables.scss';
.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  z-index: 50;
  transition: all 0.5s ease-out;
  @include breakpoint(tm) {
    display: block;
  }
  padding: 10px;
  background-color: $white-color;
  .inner {
    .icon--close {
      font-size: 1.6rem;
      padding: 6px 8px;
      margin-bottom: 12px;
      background-color: $firebrick-red-color;
      color: $white-color;
      cursor: pointer;
    }
    .box {
      margin-bottom: 20px;
      @include d-flex($center, $s-between);
      .heading {
        @include breakpoint(xs) {
          font-size: 1.3rem;
        }
        font-size: 1.5rem;
        font-weight: 600;
        color: $jetBlack-color;
      }
      .menu {
        @include breakpoint(xs) {
          gap: 6px;
        }
        @include d-flex($center, $center);
        gap: 20px;
        .title {
          @include breakpoint(xs) {
            font-size: 1.3rem;
            padding: 4px;
          }
          font-size: 1.5rem;
          padding: 6px;
          color: $primary-color;
          background-color: $white-color;
          cursor: pointer;
        }
        .sort--active {
          color: $firebrick-red-color;
        }

        .input {
          @include breakpoint(xs) {
            padding: 2px;
            width: 60px;
            font-size: 1.3rem;
          }
          padding: 4px;
          font-size: 1.5rem;
          width: 100px;
          color: $firebrick-red-color;
          border: 1.5px solid $lightBlue-color;
          outline: none;
        }
        .text {
          @include breakpoint(xs) {
            font-size: 1.6rem;
          }
          margin: 0 4px;
          font-size: 1.4rem;
          color: $jetBlack-color;
        }
        .select {
          @include breakpoint(xs) {
            font-size: 1.4rem;
            padding: 4px 6px;
          }
          font-size: 1.6rem;
          color: $primary-color;
          cursor: pointer;
          padding: 6px 8px;
          border: 1.5px solid $lightBlue-color;
          /*for firefox*/
          -moz-appearance: none;
          /*for chrome*/
          -webkit-appearance: none;
          appearance: none;
          outline: none;
        }
      }
    }

    .button {
      @include flex-justify($f-end);
    }
  }
}

.wrapper--close {
  top: calc(-110%);
}

.wrapper--open {
  top: 120px;
}
