@import '../../../style/variables.scss';

.header {
  width: 100%;
  height: $height-header;
  @include d-flex($center, $center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $white-color;

  .inner {
    z-index: 100;
    width: 100%;
    height: 100%;
    @include flex-direction();
    justify-content: center;

    .container {
      @include breakpoint(xs) {
        @include d-flex($center, $center);
      }
      padding: 0 20px;
      height: calc(($height-header / 2) - 10px);
      @include d-flex($center, $s-between);
      background-color: $white-color;
      .logo {
        width: 90px;
        height: 20px;
      }
      .contact {
        @include d-flex($center, $center);

        .contact__item {
          @include breakpoint(xs) {
            display: none;
          }
          font-size: 1.4rem;
          color: $jetBlack-color;

          .icon {
            margin-left: 26px;
            padding-right: 5px;
          }
        }
      }
    }
    .navbar {
      flex: 1;
      background-color: $background-color;
      .navbar__inner {
        @include breakpoint(tm) {
          margin: 0 10px;
          gap: 10px;
        }
        @include d-flex($center, $s-between);
        height: 100%;
        margin: 0 24px;
        .category {
          @include d-flex($center, $center);
          margin-left: -20px;
          @include breakpoint(tm) {
            display: none;
          }
          .navigate {
            font-size: 1.7rem;
            font-weight: 700;
            color: $jetBlack-color;
            padding: 6px;
            margin: 0 14px;
            cursor: pointer;
          }
          .active {
            color: $firebrick-red-color;
          }
        }
        .menu__responsive {
          @include breakpoint(tm) {
            display: block;
          }
          display: none;
          cursor: pointer;
          font-size: 2.6rem;
          color: $jetBlack-color;
        }
        .search {
          @include flex-alight($center);
          position: relative;
          display: none;
          @include breakpoint(tm) {
            display: block;
            flex: 1;
            max-width: 400px;
          }
          .input {
            @include breakpoint(xs) {
              padding: 8px;
              font-size: 1.2rem;
            }
            width: 100%;
            padding: 12px;
            outline: none;
            border: none;
            border-radius: 4px;
          }
          .filter {
            @include breakpoint(xs) {
              gap: 10px;
              padding: 7px;
            }
            @include flex-justify($center);
            gap: 16px;
            padding: 10px;
            position: absolute;
            right: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $white-color;

            .icon {
              @include breakpoint(xs) {
                font-size: 1.5rem;
              }
              font-size: 1.8rem;
              cursor: pointer;
              &:active {
                color: $primary-color;
              }
            }
          }
        }
        .menu {
          @include d-flex($center, $center);
          gap: 16px;
          .menu__item {
            font-size: 1.8rem;
            color: $jetBlack-color;
            padding: 6px;
            cursor: pointer;
          }

          // tippy
          .user__menu {
            background-color: $white-color;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            .item {
              list-style: none;
              padding: 10px;
              cursor: pointer;
              color: $lightBlue-color;

              & .icon {
                margin-right: 8px;
              }
              &:hover {
                background-color: $background-color;
              }
            }
          }
          .user__avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
            user-select: none;
          }
        }
      }
    }
  }
}
