@import '../../style//variables.scss';

.wrapper {
  @include breakpoint(xm) {
    padding: 5px 10px;
  }
  padding: 8px 16px;
  cursor: pointer;
  @include d-flex($center, $center);

  .title {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .icon {
    margin-right: 8px;
    font-size: 1.6rem;
    border-radius: 50%;
    color: inherit;
    background-color: transparent;
    background-color: $white-color;
  }
  .title,
  .icon {
    @include breakpoint(xm) {
      font-size: 1.3rem;
    }
    @include breakpoint(md) {
      font-size: 1.4rem;
    }
  }
  &:active {
    filter: brightness(0.9);
  }
}
.leftIcon {
  border-radius: 8px;
  background-color: $primary-color;
  .icon {
    margin-right: 0;
    padding: 2px 6px;
    border-radius: 50%;
    color: $white-color;
    background-color: inherit;
    border: 2px solid $white-color;
  }
}

.color {
  padding: 4px 6px;
  background-color: $white-color;
  border: 2px solid $primary-color;
  .icon {
    font-size: 1.8rem;
    color: $primary-color;
  }
}

.outline {
  color: $primary-color;
  background-color: $white-color;
  border: 2px solid $primary-color;
}

.large {
  color: $white-color;
  background-color: $primary-color;
  .icon {
    background-color: $primary-color;
  }
}

.circle {
  padding: 2px 0;
  border-radius: 50%;
  .icon {
    border: none;
  }
}

.text {
  border: none;
  color: $jetBlack-color;
  background-color: transparent;

  .icon,
  .title {
    font-size: 1.7rem;
    font-weight: 700;
  }
}

.disabled {
  cursor: no-drop;
  background-color: #eaeaea;
}

.onChange {
  color: $lightBlue-color;
  background-color: $white-color;
  padding: 4px;
  &:active {
    filter: brightness(0.95);
  }
  .title {
    font-size: 1.3rem;
  }
}

.btnSidebar {
  width: 100%;
  padding: 10px 14px;
  border-radius: 12px;
  display: block;
  &:active {
    filter: brightness(0.95);
  }
  .title,
  .icon {
    font-size: 2rem;
    color: $white-color;
  }
  .icon {
    background-color: transparent;
  }
}
