@import '../../style/variables.scss';

// ShopFood
.shop {
  @include breakpoint(xm) {
    margin: 0 10px;
  }
  max-width: 1340px;
  margin: auto;
  padding: 10px 16px;

  .inner {
    @include breakpoint(tm) {
      position: relative;
      overflow: hidden;
    }
    gap: 10px;
    @include flex-alight($f-start);

    .shop__list {
      flex: 1;
      border-width: 5px;
      .products {
        @include breakpoint(md) {
          grid-template-columns: repeat(4, minmax(150px, 1fr));
        }
        @include breakpoint(sm) {
          grid-template-columns: repeat(3, minmax(50px, 1fr));
        }
        @include breakpoint(xs) {
          grid-template-columns: repeat(2, minmax(50px, 1fr));
        }
        display: grid;
        grid-template-columns: repeat(5, minmax(150px, 1fr));
        grid-gap: 8px;
      }
      .no-product {
        width: 100%;
      }

      .page {
        margin-top: 40px;
        @include flex-justify($center);
        .navigation {
          padding: 6px;
          border-radius: 8px;
          border: 1px solid $black-color;
          .button {
            margin: 0 8px;
            font-size: 2rem;
            padding: 6px 12px;
            border-radius: 4px;
            background-color: $white-color;
            &:hover {
              cursor: pointer;
              background-color: #5ab1bb;
            }
          }
          .button__active {
            color: $white-color;
            background-color: #5ab1bb;
          }
        }
      }
      .animate {
        height: 200px;
        @include d-flex($center, $center);
      }
    }
  }
}
