@import '../../../../../style/variables.scss';

div {
  .detail {
    margin: 20px 0;
    .title {
      @include breakpoint(xm) {
        font-size: 1.6rem;
      }
      display: block;
      margin-bottom: 4px;
      font-size: 1.8rem;
      font-weight: 600;
      color: $firebrick-red-color;
    }
    .input {
      @include breakpoint(xm) {
        font-size: 1.4rem;
      }
      width: 100%;
      padding: 8px;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 2px;
      outline: none;
      color: $jetBlack-color;
      border: 1.5px solid $darkBue-color;
    }
  }

  .note {
    @include breakpoint(xm) {
      font-size: 1.4rem;
    }
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .button {
    @include flex-justify($f-end);
  }
}
