@import '../../../../../style/variables.scss';

div {
  .detail {
    margin: 16px 0;
    .title {
      display: block;
      font-size: 1.3rem;
      color: $primary-color;
      margin-bottom: 2px;
    }
    .input {
      width: 100%;
      padding: 8px;
      border: 1px solid $light-color;
      border-radius: 4px;
      outline: navajowhite;
    }
  }

  .note {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 10px 0;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
}
