@import '../../../style/variables.scss';

.wrapper {
  @include breakpoint(xs) {
    padding: 10px;
  }
  height: 100vh;
  background-color: #001136;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  .inner {
    z-index: 99;
    @include breakpoint(xs) {
      padding: 0;
      width: 100%;
      background-color: transparent;
    }
  }
}
