@import '../../style/variables.scss';
.wrapper {
  margin-top: calc($height-header + 30px);
  .introduce {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}
