@import '../../style/variables.scss';
.wrapper {
  margin-top: $height-header;
  background-color: $background-color;
  .loading {
    font-size: 3rem;
    font-weight: 600;
    height: 100vh;
    @include d-flex($center, $center);
  }
  .inner {
    .path {
      @include breakpoint(sn) {
        font-size: 1.4rem;
      }
      @include breakpoint(xs) {
        display: none;
      }
      font-size: 1.8rem;
      font-weight: 500;
      color: $lightBlue-color;
      background-color: $background-color;
      padding: 20px 20px 10px;
      .icon {
        font-size: 1.3rem;
        margin: 0 4px;
        color: $jetBlack-color;
      }
    }
    .detail {
      margin: 0 20px;
      @include breakpoint(tm) {
        margin: 0;
      }
      .info {
        @include breakpoint(tm) {
          display: block;
          padding: 10px;
        }
        position: relative;
        background-color: $white-color;
        display: flex;
        gap: 20px;
        padding: 20px;
        .info__img {
          @include breakpoint(md) {
            height: 600px;
            display: flex;
            gap: 10px;
          }
          overflow: hidden;
          flex: 1;
          .main {
            @include breakpoint(md) {
              flex: 1;
            }
            .main_img {
              @include breakpoint(tm) {
                border: none;
              }
              width: 100%;
              height: 100%;
              object-fit: cover;
              border: 1px solid $black-color;
            }
          }
          .secondary {
            @include breakpoint(md) {
              @include flex-direction();
              padding: 6px;
              gap: 6;
            }
            @include d-flex($center, $f-start);
            gap: 10px;
            background-color: $background-color;
            overflow-x: auto;
            white-space: nowrap;

            &::-webkit-scrollbar {
              height: 0;
              width: 0;
            }
            .secondary_img {
              width: 90px;
              @include breakpoint(xs) {
                width: 70px;
              }
              &:hover {
                border: 2px solid $firebrick-red-color;
              }
            }
          }
        }
        .info__product {
          flex: 1;
          .name {
            @include breakpoint(tm) {
              margin-top: 20px;
            }
            @include breakpoint(xm) {
              font-size: 1.8rem;
            }
            font-size: 2.6rem;
            font-weight: 500;
            color: $jetBlack-color;
          }
          .product__parameters {
            @include d-flex($center, $f-start);
            margin: 10px 0;
            .rating {
              @include d-flex($center, $center);
              color: $firebrick-red-color;
              padding-right: 5px;
              .number {
                @include breakpoint(xm) {
                  font-size: 1.4rem;
                }
                text-decoration-line: underline;
                margin-right: 4px;
                font-size: 1.8rem;
              }
            }
            .sales {
              display: flex;
              .item {
                @include breakpoint(xm) {
                  font-size: 1.4rem;
                }
                font-size: 1.6rem;
                padding: 0 10px;
                color: $light-color;
                &:nth-child(1) {
                  border-left: 1px solid $light-color;
                  border-right: 1px solid $light-color;
                }
                .text {
                  @include breakpoint(xm) {
                    font-size: 1.5rem;
                  }
                  font-size: 1.7rem;
                  color: $black-color;
                  margin: 0 4px;
                  text-decoration-line: underline;
                }
              }
            }
          }
          .price {
            margin: 30px 0;
            padding: 20px 0;
            @include flex-alight($center);
            background-color: $background-color;
            .old {
              @include breakpoint(xm) {
                font-size: 1.6rem;
              }
              font-size: 2rem;
              color: $light-color;
              text-decoration-line: line-through;
              margin-left: 20px;
            }
            .new {
              @include breakpoint(xm) {
                font-size: 2rem;
              }
              font-size: 2.4rem;
              position: relative;
              color: $primary-color;
              margin: 0 20px;
              &::after {
                position: absolute;
                content: 'đ';
                color: inherit;
                top: 0;
                right: auto;
                font-size: 1.6rem;
              }
            }
            .discount {
              @include breakpoint(xm) {
                font-size: 1rem;
              }
              font-size: 1.4rem;
              padding: 2px;
              color: $white-color;
              background-color: $firebrick-red-color;
            }
          }

          .selection {
            margin: 20px 0;
            .type {
              display: block;
              margin-bottom: 10px;
              font-size: 1.4rem;
              color: $light-color;
            }
            .values {
              margin-left: 20px;
              display: flex;
              flex-wrap: wrap;
              .item {
                @include breakpoint(xm) {
                  font-size: 1.2rem;
                }
                padding: 6px 8px;
                border: 1px solid #e0e0e0;
                background-color: $white-color;
                color: $black-color;
                border-radius: 2px;
                font-size: 1.4rem;

                margin: 6px;
                cursor: pointer;
                &:hover {
                  color: $primary-color;
                  border-color: $firebrick-red-color;
                }
              }

              .active {
                color: $firebrick-red-color;
                font-weight: 600;
                border: 2px solid $firebrick-red-color;
              }
              .disabled {
                cursor: no-drop;
                background-color: #eaeaea;
                border: none;
                &:hover {
                  color: #999999;
                }
              }
            }
          }

          .buy {
            margin: 30px 0;
            .quantity {
              .title {
                font-size: 1.8rem;
                font-weight: 600;
                color: $jetBlack-color;
              }
              .flex {
                @include d-flex($center, $s-between);
                margin: 10px 0 20px 0;

                .counter {
                  @include flex-alight($center);
                  margin: 10px 0;
                  color: $jetBlack-color;
                  background-color: $white-color;
                  .prev,
                  .next {
                    padding: 2px 10px;
                    cursor: pointer;
                    color: $white-color;
                    background-color: $primary-color;
                    &:active {
                      filter: brightness(0.7);
                    }
                  }
                  .number {
                    margin: 0 10px;
                    font-size: 1.8rem;
                  }
                }

                .existence {
                  font-size: 1.4rem;
                  color: $light-color;
                }
              }
            }

            .button {
              display: flex;
              gap: 10px;
            }
          }
        }
      }

      // mobile
      .mobile__icon-back {
        @include breakpoint(xm) {
          display: block;
        }
        display: none;
        position: absolute;
        left: 24px;
        top: 24px;
        font-size: 2rem;
        padding: 6px;
        cursor: pointer;
        color: $white-color;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.2);
        &:active {
          filter: brightness(0.9);
        }
      }

      .description {
        display: flex;
        margin-top: 30px;
        padding: 10px;
        background-color: $white-color;
        gap: 10px;
        @include breakpoint(xs) {
          @include flex-direction();
        }
        .description__detail {
          flex: 7;
          .heading {
            padding: 20px;
            background-color: $background-color;
            @include breakpoint(xm) {
              font-size: 2rem;
              padding: 10px;
              margin-left: -10px;
            }
            font-size: 2.6rem;
            color: $jetBlack-color;
          }
          .description__info {
            @include flex-direction();
            gap: 10px;
            .item {
              @include d-flex($f-start, $f-start);
              gap: 8px;
              margin: 10px 0;
              .title {
                @include breakpoint(xm) {
                  font-size: 1.3rem;
                }
                font-size: 1.5rem;
                color: $light-color;
                letter-spacing: 1px;
                width: 150px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .value {
                @include breakpoint(xm) {
                  font-size: 1.2rem;
                }
                flex: 1;
                font-size: 1.4rem;
                color: rgba(0, 0, 0, 0.8);
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
              }
            }
            .text {
              @include breakpoint(xm) {
                font-size: 1.5rem;
              }
              margin-top: 20px;
              font-size: 1.8rem;
            }
          }
        }
        .products-other {
          flex: 2;
          .title {
            font-size: 1.5rem;
            color: $firebrick-red-color;
            font-weight: 300;
            margin: 20px 0;
            text-decoration-line: underline;
          }
          .list {
            display: grid;
            grid-template-columns: repeat(1, minmax(50px, 1fr));
            gap: 10px;
            @include breakpoint(xs) {
              grid-template-columns: repeat(2, minmax(50px, 1fr));
            }
            .product {
              cursor: pointer;
              .img {
                width: 100%;
              }
              .name {
                font-size: 1.3rem;
                font-weight: 300;
                color: $light-color;
                margin: 5px;
                overflow: hidden;
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
              }
              .price {
                font-size: 1.4rem;
                margin: 0 5px;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
