@import '../../style/variables.scss';
.wrapper {
  padding: 50px 0;
  background-color: $background-color;
  .inner {
    .achievement {
      @include breakpoint(tm) {
        display: none;
      }
      margin: auto;
      max-width: 1340px;
      padding: 50px 10px;
      text-align: center;
      .title {
        margin-bottom: 20px;
        font-size: 3rem;
        color: $jetBlack-color;
      }
      .brand {
        @include d-flex($center, $s-between);
        .brand__img {
          width: 140px;
          height: 74px;
          margin-top: 20px;
        }
      }
    }
  }
}
