@import '../../style/variables.scss';

.category {
  padding: 20px 0;
  margin-bottom: 40px;
  text-align: center;
  background-color: $white-color;

  .heading {
    @include breakpoint(xm) {
      font-size: 2.2rem;
    }
    font-size: 3rem;
    color: $black-color;
  }
  .text {
    @include breakpoint(xm) {
      font-size: 1.2rem;
    }
    margin: 10px 0;
    font-size: 1.4rem;
    max-width: 600px;
    margin-bottom: 30px;
    margin: 0 auto 20px;
    color: $light-color;
  }

  .card {
    margin-top: 20px;
    .background {
      position: relative;
      .img {
        height: 100%;
        width: 100%;
      }

      .info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100%;
        padding: 20px 10px;
        cursor: pointer;
        background-color: #e2e2ea;

        .name {
          @include breakpoint(xm) {
            font-size: 1.3rem;
            -webkit-line-clamp: 1;
          }

          color: #9a9ab0;
          font-size: 1.6rem;
          font-weight: 400;
          @include format-text-line(2);
        }
        .brand {
          @include breakpoint(xm) {
            font-size: 1rem;
            @include format-text-line(1);
          }
          margin: 8px 0;
          font-size: 1.2rem;
          font-weight: 300;
          color: $light-color;
        }
        .price {
          @include d-flex($center, $center);

          .item {
            margin: 0 4px;
            font-size: 1.3rem;
            color: $primary-color;
          }
          .item--color {
            color: #9a9ab0;
            font-size: 1rem;
            text-decoration-line: line-through;
          }
        }
      }

      &:hover .info {
        animation: animate 0.4s ease-out forwards;
      }
    }
  }
}

@keyframes animate {
  from {
    bottom: -100%;
    opacity: 0;
  }
  to {
    bottom: 4px;
    opacity: 1;
  }
}
