@import '../../style/variables.scss';

.cart {
  position: fixed;
  width: 360px;
  z-index: 100;
  color: #000;
  top: $height-header;
  background-color: $white-color;

  .product {
    position: relative;
    .title {
      padding: 10px;
      font-size: 1.6rem;
      color: $jetBlack-color;
    }

    .item {
      padding: 10px;
      cursor: pointer;
      @include d-flex($center, $s-between);
      &:hover {
        background-color: $background-color;
      }
      .item__img {
        width: 42px;
        margin-right: 10px;
      }
      .description {
        flex: 1;
        @include d-flex($center, $s-between);

        .name {
          width: 150px;
          font-weight: 500;
          font-size: 1.4rem;
          color: $jetBlack-color;
          @include format-text-line(1);
        }

        .component {
          @include flex-alight($center);
          .price {
            color: #db2828;
            font-weight: 500;
            font-size: 1.4rem;
            margin-right: 10px;
          }
          .remote {
            font-size: 2rem;
            margin-left: 20px;
            color: #000;
            cursor: pointer;
            background-color: transparent;
            &:hover {
              color: $firebrick-red-color;
              animation: animateDeg 0.4s linear;
            }
          }
        }
      }
    }
    .btn {
      margin: 10px;
      @include d-flex($center, $s-between);
      .number {
        font-size: 1.5rem;
        font-weight: 400;
        color: $jetBlack-color;
      }
    }
    .mobile__icon-close {
      @include breakpoint(xs) {
        display: block;
      }
      display: none;
      position: absolute;
      top: 8px;
      right: 10px;
      font-size: 2.6rem;
      cursor: pointer;
      color: $firebrick-red-color;
      &:active {
        filter: brightness(0.9);
      }
    }
  }
  .no-product {
    border: solid 1px #d2001a;
    overflow: hidden;
    @include flex-direction();
    align-items: center;

    .heading {
      margin: 10px;
      font-weight: 400;
      font-size: 1.6rem;
    }
    .img {
      position: relative;
      width: 60px;
      animation: animateDelivery 3s linear infinite;
    }
  }
  .cart__icon {
    position: absolute;
    top: 50%;
    left: -44px;
    padding: 6px 12px;
    font-size: 2.6rem;
    border-radius: 50%;
    color: $white-color;
    transform: rotate(45deg);
    cursor: pointer;
    background-color: $firebrick-red-color;
    .total {
      position: absolute;
      top: 0;
      left: -12px;
      font-size: 1.3rem;
      font-weight: 600;
      padding: 1px 6px;
      border-radius: 40%;
      color: $firebrick-red-color;
      background-color: $white-color;
      border: 1.5px solid $firebrick-red-color;
    }
  }
}

.cart--open {
  animation: animate-open 0.5s linear forwards;
}
.cart--close {
  animation: animate-close 0.5s linear forwards;
}

@keyframes animateDelivery {
  from {
    left: -64%;
  }
  to {
    left: 64%;
  }
}

@keyframes animate-open {
  from {
    right: -360px;
  }
  to {
    right: 0;
  }
}
@keyframes animate-close {
  from {
    right: 0;
  }
  to {
    right: -360px;
  }
}

@keyframes animateDeg {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
