@import '../../style/variables.scss';
.wrapper {
  .list {
    @include d-flex($center, $center);
    .star {
      overflow: hidden;
      position: relative;
      color: $primary-color;
      .element {
        top: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        .element__icon {
          font-size: 1.2rem;
        }
        .element--size {
          font-size: 2.4rem;
          cursor: pointer;
        }
      }
      .star__icon {
        font-size: 1.2rem;
      }
      .star--size {
        font-size: 2.4rem;
        cursor: pointer;
      }
    }
  }
}
