@import '../../../style/variables.scss';
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 200;

  .animate {
    height: 5px;
    position: relative;
    background-color: rgb(127, 0, 0);

    .loading {
      position: absolute;
      animation: loading 1.5s ease infinite;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%;
      background-color: #ff0000;
    }
  }
}

@keyframes loading {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
