@import '../../../style/variables.scss';

.footer {
  background-color: $white-color;
  .view {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    @include flex-justify($s-between);
    @include breakpoint(xs) {
      @include flex-direction();
    }

    .customer {
      display: flex;
      .img {
        width: 200px;
        height: 200px;
        margin-right: 24px;
      }
      .element {
        margin: 20px 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .colum {
          .element__img {
            width: 100px;
            cursor: pointer;
          }
          .text {
            font-size: 1.5rem;
            margin: 20px 0;
            color: $jetBlack-color;
          }
        }
        .text-end {
          font-size: 1.5rem;
          margin: 20px 0;
          color: $jetBlack-color;
        }
      }
    }
    .Social-Network {
      @include d-flex($f-start, $center);
      @include breakpoint(sm) {
        @include flex-direction();
      }
      .icon {
        width: 40px;
        margin: 0 8px;
        padding: 6px;
        cursor: pointer;
      }
    }
  }
}
