@import '../../../style/variables.scss';

.footer {
  @include breakpoint(xs) {
    padding: 40px 6px;
  }
  padding: 40px 20px;
  color: $white-color;
  background-color: #283646;
  font-family: 'Roboto';
  .inner {
    @include breakpoint(xm) {
      @include flex-direction();
    }

    max-width: 1000px;
    margin: 0 auto;
    @include d-flex($f-start, $s-between);
    gap: 30px;
    .brand {
      flex: 3;
      @include flex-direction();
      gap: 20px;
      .logo {
        width: 90px;
        height: 20px;
      }
      .text {
        font-size: 1.4rem;
      }

      .contact {
        @include flex-direction();
        gap: 16px;
        .box {
          @include d-flex($center, $f-start);
          gap: 6px;

          .icon,
          .title {
            font-size: 1.6rem;
          }
        }
      }
    }

    .info {
      flex: 7;
      width: 100%;
      @include d-flex($f-start, $s-between);
      gap: 40px;
      .column {
        @include flex-direction();
        gap: 20px;
        .title {
          font-size: 1.6rem;
        }
        ul {
          @include flex-direction();
          gap: 12px;
          .text {
            font-size: 1.3rem;
            list-style: none;
          }
        }
      }
    }
  }
}
