@import '../../../style/variables.scss';
.wrapper {
  .heading {
    @include breakpoint(xm) {
      padding: 10px;
      font-size: 2rem;
      margin-left: -10px;
    }
    padding: 20px;
    margin: 20px 0;
    font-size: 2.6rem;
    color: $jetBlack-color;
    background-color: $background-color;
  }

  .box {
    @include d-flex($center, $f-start);
    gap: 20px;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .comment {
      display: flex;
      gap: 10px;
      .comment__input {
        border: none;
        outline: none;
        border-bottom: 1px solid $lightBlue-color;
      }
    }
  }

  .list {
    .user {
      margin: 30px 0;
      @include d-flex($f-start, $f-start);
      gap: 12px;
      .avatar {
        @include breakpoint(xs) {
          width: 20px;
        }
        width: 46px;
        border-radius: 50%;
      }
      .item {
        overflow: hidden;
        @include flex-direction();
        gap: 4px;
        .info {
          @include d-flex($center, $f-start);
          gap: 10px;
          .name {
            @include breakpoint(xs) {
              font-size: 1.2rem;
            }
            font-size: 1.4rem;
            color: $jetBlack-color;
          }
          .time {
            font-size: 1.2rem;
            color: $light-color;
          }
        }

        .star {
          display: flex;
        }

        .comment {
          .comment__list__img {
            width: 100%;
            overflow-x: auto;
            &::-webkit-scrollbar {
              height: 0;
            }
            @include d-flex($center, $f-start);
            gap: 8px;

            .img {
              width: 90px;
              height: 90px;
              border-radius: 4px;
              cursor: pointer;
              transition: 0.5s linear;
              transform-origin: center;
              &:hover {
                z-index: 100;
                transform: scale(3);
              }
            }
          }
          .text {
            @include breakpoint(xs) {
              font-size: 1.2rem;
            }
            margin: 10px 0;
            font-size: 1.4rem;
            color: #515151;
            @include format-text-line(4);
          }
        }
      }
    }

    .not-comment {
      font-size: 1.5rem;
    }
  }
}
