@import '../../../style/variables.scss';

.wrapper {
  @include breakpoint(tm) {
    display: none;
  }
  padding: 10px;
  max-width: 200px;
  background-color: $background-color;

  .price {
    margin-bottom: 24px;
    .heading {
      margin-bottom: 10px;
      @include d-flex($center, $s-between);
      .title {
        font-size: 1.8rem;
        font-weight: 600;
        color: $jetBlack-color;
      }
      .icon {
        font-size: 1.7rem;
        color: $jetBlack-color;
      }
    }
    .menu {
      @include flex-direction();
      gap: 8px;
      .menu__input {
        padding: 4px;
        width: 100px;
        font-size: 1.5rem;
        border-radius: 4px;
        outline: none;
        color: $firebrick-red-color;
        border: 1.5px solid $jetBlack-color;
      }
      .menu__text {
        margin: 0 4px;
        font-size: 1.6rem;
        color: $jetBlack-color;
      }
    }
  }

  .product__categories {
    margin-top: 30px;
    .heading {
      font-size: 1.8rem;
      letter-spacing: 0.3px;
    }
    .categories {
      margin: 24px 0;
      .item {
        margin: 12px 0;
        padding: 6px 0;
        cursor: pointer;
        color: $jetBlack-color;
        @include d-flex($center, $s-between);
        .title {
          font-size: 1.6rem;
          font-weight: 600;
        }
        .icon {
          font-size: 1.3rem;
        }
      }
    }
  }

  .product__featured {
    margin-top: 62px;
    .heading {
      font-size: 1.8rem;
      color: $jetBlack-color;
    }
    .list {
      margin: 32px 0;
      .product {
        margin: 20px 0;
        cursor: pointer;
        @include d-flex($f-start, $f-start);
        gap: 12px;
        .description {
          .name {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 8px;
            color: $jetBlack-color;
            @include format-text-line(1);
          }
          .price {
            color: $firebrick-red-color;
          }
        }
      }
    }
  }
}

.wrapper--open {
  left: 0;
}
.wrapper--close {
  left: -100%;
}
