@import '../../style/variables.scss';

.wrapper {
  @include breakpoint(xm) {
    padding: 0;
  }
  margin: auto;
  max-width: 1340px;
  padding: 16px 10px;
  @include d-flex($center, $center);
  gap: 12px;
  .slider {
    @include breakpoint(tm) {
      flex-basis: 100%;
      max-width: 100%;
      border-radius: 0;
    }
    flex-basis: 70%;
    max-width: 70%;
    .banner {
      padding-top: 30%;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      @include flex-alight($f-end);
      cursor: pointer;
    }
  }
}

.background__banner {
  @include breakpoint(tm) {
    display: none;
  }
  flex-basis: 30%;
  max-width: 30%;
  @include flex-direction();
  gap: 8px;

  .banner__img {
    padding-top: 35%;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// styles sideBar
.ps-menu-label {
  display: inherit;
}
