@import '../../../style/variables.scss';
.wrapper {
  margin: auto;
  padding: 20px 10px;
  max-width: 1340px;
  background-color: $background-color;
  .inner {
    padding: 30px 0;
    background-color: $white-color;
    .heading {
      @include breakpoint(xm) {
        font-size: 2rem;
      }
      font-size: 3rem;
      text-align: center;
      letter-spacing: 2px;
      color: $primary-color;
    }
    .seller {
      padding: 30px 10px;
      .seller__inner {
        @include d-flex($f-end, $center);
        gap: 30px;
        .img {
          @include breakpoint(sm) {
            width: 120px;
          }
          @include breakpoint(xs) {
            width: 80px;
          }
          width: 200px;
          aspect-ratio: 3/2;
          border-radius: 8px;
        }
        .description {
          flex: 1;
          .text {
            @include breakpoint(xm) {
              font-size: 1.2rem;
            }
            @include breakpoint(xs) {
              @include format-text-line(3);
            }
            font-size: 1.5rem;
            margin-bottom: 10px;
            color: $light-color;
          }
          .name {
            @include breakpoint(xs) {
              font-size: 1.3rem;
            }
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 4px;
            color: $jetBlack-color;
          }
          .title {
            @include breakpoint(xs) {
              font-size: 1rem;
            }
            font-size: 1.2rem;
            color: #515151;
          }
        }
      }
    }
  }
}
