@import '../../../style/variables.scss';
.wrapper {
  padding: 20px 10px;
  background-color: $background-color;
  .inner {
    margin: 0 auto;
    padding: 30px 0;
    max-width: 1000px;
    .seller {
      padding: 30px 10px;
      background-color: $white-color;
      .seller__inner {
        @include flex-alight($center);
        gap: 30px;
        .img {
          @include breakpoint(sm) {
            width: 120px;
          }
          @include breakpoint(xs) {
            width: 80px;
          }
          flex: 3;
          max-width: 200px;
          border-radius: 8px;
        }
        .description {
          flex: 7;
          .heading {
            @include breakpoint(xm) {
              font-size: 2.2rem;
            }
            font-size: 3rem;
            letter-spacing: 2px;
            color: $primary-color;
          }
          .text {
            @include breakpoint(xm) {
              font-size: 1.2rem;
            }
            font-size: 1.5rem;
            margin: 36px 0;
            color: $light-color;
            @include breakpoint(xs) {
              margin: 20px 0;
              @include format-text-line(3);
            }
          }
          .name {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 14px;
            color: $jetBlack-color;
          }
          .title {
            font-size: 1.2rem;
            color: #515151;
          }
        }
      }
    }
  }
}
