@import '../../../style/variables.scss';

.search {
  display: flex;
  input {
    width: 100%;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid $light-color;
    border-radius: 20px;
  }
  .category {
    display: flex;
    margin-left: 5px;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      input[type='radio'] {
        display: none;
      }
      input:checked + label {
        border: none;
        outline: 2px solid deeppink;
      }
      label {
        margin-left: 5px;
        cursor: pointer;
        padding: 5px;
        border-radius: 4px;
        background-color: $background-color;
      }
    }
  }
}
